<a href="https://colab.research.google.com/github/RiskSpecialist/CIND820_TorontoCrime/blob/main/CIND820_TorontoCrime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import zipfile
import io
import requests

In [2]:
# URLs to the homicide and non-homicide data
homicide_url = 'https://raw.githubusercontent.com/RiskSpecialist/CIND820_TorontoCrime/main/Homicides_Open_Data_ASR_RC_TBL_002_4450242736547431910.csv'
non_homicide_zip_url = 'https://raw.githubusercontent.com/RiskSpecialist/CIND820_TorontoCrime/main/Major_Crime_Indicators_Open_Data_6927126107499016617.zip'

In [3]:
# Load homicide data
homicide_data = pd.read_csv(homicide_url)

In [4]:
# Download the zip file
response = requests.get(non_homicide_zip_url)
zip_file = zipfile.ZipFile(io.BytesIO(response.content))

# Extract the .csv file inside the zip and load it into pandas

with zip_file.open('Major_Crime_Indicators_Open_Data_6927126107499016617.csv') as file:
    non_homicide_data = pd.read_csv(file)

In [5]:
# Preview both datasets
print("Homicide Data Sample:\n", homicide_data.head())
print("\nNon-Homicide Data Sample:\n", non_homicide_data.head())

Homicide Data Sample:
    OBJECTID EVENT_UNIQUE_ID              OCC_DATE  OCC_YEAR OCC_MONTH  \
0         1   GO-2004111878   1/3/2004 5:00:00 AM      2004   January
1         2   GO-2004125755   1/8/2004 5:00:00 AM      2004   January
2         3   GO-2004136086   1/8/2004 5:00:00 AM      2004   January
3         4   GO-2004148623  1/25/2004 5:00:00 AM      2004   January
4         5   GO-2004148619  1/25/2004 5:00:00 AM      2004   January

   OCC_DAY   OCC_DOW  OCC_DOY DIVISION HOMICIDE_TYPE HOOD_158  \
0        3  Saturday        3      D53         Other      098
1        8  Thursday        8      D42      Shooting      142
2        8  Thursday        8      D42      Shooting      146
3       25    Sunday       25      D13      Shooting      171
4       25    Sunday       25      D42      Shooting      144

                NEIGHBOURHOOD_158 HOOD_140  \
0        Rosedale-Moore Park (98)      098
1              Woburn North (142)      137
2              Malvern East (146)      132
3  Junction-Wallace Emerson (171)      093
4       Morningside Heights (144)      131

                          NEIGHBOURHOOD_140  LONG_WGS84  LAT_WGS84  \
0                  Rosedale-Moore Park (98)  -79.392828  43.685026
1                              Woburn (137)  -79.233852  43.781782
2                             Malvern (132)  -79.205574  43.810544
3  Dovercourt-Wallace Emerson-Junction (93)  -79.434387  43.670467
4                               Rouge (131)  -79.204958  43.822997

              x             y
0 -8.837969e+06  5.416828e+06
1 -8.820272e+06  5.431734e+06
2 -8.817124e+06  5.436170e+06
3 -8.842596e+06  5.414587e+06
4 -8.817056e+06  5.438091e+06

Non-Homicide Data Sample:
    OBJECTID EVENT_UNIQUE_ID          REPORT_DATE               OCC_DATE  \
0         1  GO-20141260715  1/1/2014 5:00:00 AM    1/1/2014 5:00:00 AM
1         2  GO-20141260079  1/1/2014 5:00:00 AM  12/31/2013 5:00:00 AM
2         3  GO-20141260912  1/1/2014 5:00:00 AM    1/1/2014 5:00:00 AM
3         4  GO-20141260322  1/1/2014 5:00:00 AM  12/31/2013 5:00:00 AM
4         5  GO-20141260521  1/1/2014 5:00:00 AM    1/1/2014 5:00:00 AM

   REPORT_YEAR REPORT_MONTH  REPORT_DAY  REPORT_DOY  REPORT_DOW  REPORT_HOUR  \
0         2014      January           1           1  Wednesday             3
1         2014      January           1           1  Wednesday             1
2         2014      January           1           1  Wednesday             6
3         2014      January           1           1  Wednesday             7
4         2014      January           1           1  Wednesday             2

   ...              OFFENCE     MCI_CATEGORY  HOOD_158  \
0  ...              Assault          Assault       092
1  ...                  B&E  Break and Enter       070
2  ...  Robbery With Weapon          Robbery       078
3  ...                  B&E  Break and Enter       158
4  ...                  B&E  Break and Enter       081

             NEIGHBOURHOOD_158 HOOD_140                NEIGHBOURHOOD_140  \
0  Corso Italia-Davenport (92)      092      Corso Italia-Davenport (92)
1         South Riverdale (70)      070             South Riverdale (70)
2    Kensington-Chinatown (78)      078        Kensington-Chinatown (78)
3              Islington (158)      014  Islington-City Centre West (14)
4       Trinity-Bellwoods (81)      081           Trinity-Bellwoods (81)

  LONG_WGS84  LAT_WGS84             x             y
0 -79.455770  43.677775 -8.844976e+06  5.415712e+06
1 -79.341683  43.665011 -8.832276e+06  5.413747e+06
2 -79.401983  43.647598 -8.838988e+06  5.411068e+06
3 -79.554194  43.641775 -8.855932e+06  5.410172e+06
4 -79.412798  43.650928 -8.840192e+06  5.411580e+06

[5 rows x 31 columns]

In [6]:
# Shape of each dataset
print("Homicide Data Shape:", homicide_data.shape)
print("Non-Homicide Data Shape:", non_homicide_data.shape)

Homicide Data Shape: (1440, 18)
Non-Homicide Data Shape: (396735, 31)

In [7]:
# Display info for Homicide Data
print("Homicide Data Info:")
homicide_data.info()

# Display info for Non-Homicide Data
print("\nNon-Homicide Data Info:")
non_homicide_data.info()

Homicide Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           1440 non-null   int64
 1   EVENT_UNIQUE_ID    1440 non-null   object
 2   OCC_DATE           1440 non-null   object
 3   OCC_YEAR           1440 non-null   int64
 4   OCC_MONTH          1440 non-null   object
 5   OCC_DAY            1440 non-null   int64
 6   OCC_DOW            1440 non-null   object
 7   OCC_DOY            1440 non-null   int64
 8   DIVISION           1440 non-null   object
 9   HOMICIDE_TYPE      1440 non-null   object
 10  HOOD_158           1440 non-null   object
 11  NEIGHBOURHOOD_158  1440 non-null   object
 12  HOOD_140           1440 non-null   object
 13  NEIGHBOURHOOD_140  1440 non-null   object
 14  LONG_WGS84         1440 non-null   float64
 15  LAT_WGS84          1440 non-null   float64
 16  x                  1440 non-null   float64
 17  y                  1440 non-null   float64
dtypes: float64(4), int64(4), object(10)
memory usage: 202.6+ KB

Non-Homicide Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396735 entries, 0 to 396734
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           396735 non-null  int64
 1   EVENT_UNIQUE_ID    396735 non-null  object
 2   REPORT_DATE        396735 non-null  object
 3   OCC_DATE           396735 non-null  object
 4   REPORT_YEAR        396735 non-null  int64
 5   REPORT_MONTH       396735 non-null  object
 6   REPORT_DAY         396735 non-null  int64
 7   REPORT_DOY         396735 non-null  int64
 8   REPORT_DOW         396735 non-null  object
 9   REPORT_HOUR        396735 non-null  int64
 10  OCC_YEAR           396605 non-null  float64
 11  OCC_MONTH          396605 non-null  object
 12  OCC_DAY            396605 non-null  float64
 13  OCC_DOY            396605 non-null  float64
 14  OCC_DOW            396605 non-null  object
 15  OCC_HOUR           396735 non-null  int64
 16  DIVISION           396735 non-null  object
 17  LOCATION_TYPE      396735 non-null  object
 18  PREMISES_TYPE      396735 non-null  object
 19  UCR_CODE           396735 non-null  int64
 20  UCR_EXT            396735 non-null  int64
 21  OFFENCE            396735 non-null  object
 22  MCI_CATEGORY       396735 non-null  object
 23  HOOD_158           396735 non-null  object
 24  NEIGHBOURHOOD_158  396735 non-null  object
 25  HOOD_140           396735 non-null  object
 26  NEIGHBOURHOOD_140  396735 non-null  object
 27  LONG_WGS84         396735 non-null  float64
 28  LAT_WGS84          396735 non-null  float64
 29  x                  396735 non-null  float64
 30  y                  396735 non-null  float64
dtypes: float64(7), int64(8), object(16)
memory usage: 93.8+ MB

In [8]:
# Count missing values in each dataset
print("\nHomicide Data Missing Values:\n", homicide_data.isnull().sum())
print("\nNon-Homicide Data Missing Values:\n", non_homicide_data.isnull().sum())

Homicide Data Missing Values:
 OBJECTID             0
EVENT_UNIQUE_ID      0
OCC_DATE             0
OCC_YEAR             0
OCC_MONTH            0
OCC_DAY              0
OCC_DOW              0
OCC_DOY              0
DIVISION             0
HOMICIDE_TYPE        0
HOOD_158             0
NEIGHBOURHOOD_158    0
HOOD_140             0
NEIGHBOURHOOD_140    0
LONG_WGS84           0
LAT_WGS84            0
x                    0
y                    0
dtype: int64

Non-Homicide Data Missing Values:
 OBJECTID               0
EVENT_UNIQUE_ID        0
REPORT_DATE            0
OCC_DATE               0
REPORT_YEAR            0
REPORT_MONTH           0
REPORT_DAY             0
REPORT_DOY             0
REPORT_DOW             0
REPORT_HOUR            0
OCC_YEAR             130
OCC_MONTH            130
OCC_DAY              130
OCC_DOY              130
OCC_DOW              130
OCC_HOUR               0
DIVISION               0
LOCATION_TYPE          0
PREMISES_TYPE          0
UCR_CODE               0
UCR_EXT                0
OFFENCE                0
MCI_CATEGORY           0
HOOD_158               0
NEIGHBOURHOOD_158      0
HOOD_140               0
NEIGHBOURHOOD_140      0
LONG_WGS84             0
LAT_WGS84              0
x                      0
y                      0
dtype: int64

In [9]:
# Drop rows with missing values in both datasets
homicide_data = homicide_data.dropna()
non_homicide_data = non_homicide_data.dropna()

In [10]:
# Convert date columns in homicide data from object type to datetime format
homicide_data['OCC_DATE'] = pd.to_datetime(homicide_data['OCC_DATE'], errors='coerce')

# Convert date columns in non-homicide data from object type to datetime format
non_homicide_data['REPORT_DATE'] = pd.to_datetime(non_homicide_data['REPORT_DATE'], errors='coerce')
non_homicide_data['OCC_DATE'] = pd.to_datetime(non_homicide_data['OCC_DATE'], errors='coerce')

In [11]:
# Verify homicide data after cleaning, let’s display basic information to confirm the data types and check for remaining missing values
print("Homicide Data Info After Cleaning:")
print(homicide_data.info())
print("\nSample of Homicide Data:")
print(homicide_data.head())

# Verify non-homicide data after cleaning, let’s display basic information to confirm the data types and check for remaining missing values
print("Non-Homicide Data Info After Cleaning:")
print(non_homicide_data.info())
print("\nSample of Non-Homicide Data:")
print(non_homicide_data.head())

Homicide Data Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           1440 non-null   int64
 1   EVENT_UNIQUE_ID    1440 non-null   object
 2   OCC_DATE           1440 non-null   datetime64[ns]
 3   OCC_YEAR           1440 non-null   int64
 4   OCC_MONTH          1440 non-null   object
 5   OCC_DAY            1440 non-null   int64
 6   OCC_DOW            1440 non-null   object
 7   OCC_DOY            1440 non-null   int64
 8   DIVISION           1440 non-null   object
 9   HOMICIDE_TYPE      1440 non-null   object
 10  HOOD_158           1440 non-null   object
 11  NEIGHBOURHOOD_158  1440 non-null   object
 12  HOOD_140           1440 non-null   object
 13  NEIGHBOURHOOD_140  1440 non-null   object
 14  LONG_WGS84         1440 non-null   float64
 15  LAT_WGS84          1440 non-null   float64
 16  x                  1440 non-null   float64
 17  y                  1440 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 202.6+ KB
None

Sample of Homicide Data:
   OBJECTID EVENT_UNIQUE_ID            OCC_DATE  OCC_YEAR OCC_MONTH  OCC_DAY  \
0         1   GO-2004111878 2004-01-03 05:00:00      2004   January        3
1         2   GO-2004125755 2004-01-08 05:00:00      2004   January        8
2         3   GO-2004136086 2004-01-08 05:00:00      2004   January        8
3         4   GO-2004148623 2004-01-25 05:00:00      2004   January       25
4         5   GO-2004148619 2004-01-25 05:00:00      2004   January       25

    OCC_DOW  OCC_DOY DIVISION HOMICIDE_TYPE HOOD_158  \
0  Saturday        3      D53         Other      098
1  Thursday        8      D42      Shooting      142
2  Thursday        8      D42      Shooting      146
3    Sunday       25      D13      Shooting      171
4    Sunday       25      D42      Shooting      144

                NEIGHBOURHOOD_158 HOOD_140  \
0        Rosedale-Moore Park (98)      098
1              Woburn North (142)      137
2              Malvern East (146)      132
3  Junction-Wallace Emerson (171)      093
4       Morningside Heights (144)      131

                          NEIGHBOURHOOD_140  LONG_WGS84  LAT_WGS84  \
0                  Rosedale-Moore Park (98)  -79.392828  43.685026
1                              Woburn (137)  -79.233852  43.781782
2                             Malvern (132)  -79.205574  43.810544
3  Dovercourt-Wallace Emerson-Junction (93)  -79.434387  43.670467
4                               Rouge (131)  -79.204958  43.822997

              x             y
0 -8.837969e+06  5.416828e+06
1 -8.820272e+06  5.431734e+06
2 -8.817124e+06  5.436170e+06
3 -8.842596e+06  5.414587e+06
4 -8.817056e+06  5.438091e+06
Non-Homicide Data Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 396605 entries, 0 to 396734
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           396605 non-null  int64
 1   EVENT_UNIQUE_ID    396605 non-null  object
 2   REPORT_DATE        396605 non-null  datetime64[ns]
 3   OCC_DATE           396605 non-null  datetime64[ns]
 4   REPORT_YEAR        396605 non-null  int64
 5   REPORT_MONTH       396605 non-null  object
 6   REPORT_DAY         396605 non-null  int64
 7   REPORT_DOY         396605 non-null  int64
 8   REPORT_DOW         396605 non-null  object
 9   REPORT_HOUR        396605 non-null  int64
 10  OCC_YEAR           396605 non-null  float64
 11  OCC_MONTH          396605 non-null  object
 12  OCC_DAY            396605 non-null  float64
 13  OCC_DOY            396605 non-null  float64
 14  OCC_DOW            396605 non-null  object
 15  OCC_HOUR           396605 non-null  int64
 16  DIVISION           396605 non-null  object
 17  LOCATION_TYPE      396605 non-null  object
 18  PREMISES_TYPE      396605 non-null  object
 19  UCR_CODE           396605 non-null  int64
 20  UCR_EXT            396605 non-null  int64
 21  OFFENCE            396605 non-null  object
 22  MCI_CATEGORY       396605 non-null  object
 23  HOOD_158           396605 non-null  object
 24  NEIGHBOURHOOD_158  396605 non-null  object
 25  HOOD_140           396605 non-null  object
 26  NEIGHBOURHOOD_140  396605 non-null  object
 27  LONG_WGS84         396605 non-null  float64
 28  LAT_WGS84          396605 non-null  float64
 29  x                  396605 non-null  float64
 30  y                  396605 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(8), object(14)
memory usage: 96.8+ MB
None

Sample of Non-Homicide Data:
   OBJECTID EVENT_UNIQUE_ID         REPORT_DATE            OCC_DATE  \
0         1  GO-20141260715 2014-01-01 05:00:00 2014-01-01 05:00:00
1         2  GO-20141260079 2014-01-01 05:00:00 2013-12-31 05:00:00
2         3  GO-20141260912 2014-01-01 05:00:00 2014-01-01 05:00:00
3         4  GO-20141260322 2014-01-01 05:00:00 2013-12-31 05:00:00
4         5  GO-20141260521 2014-01-01 05:00:00 2014-01-01 05:00:00

   REPORT_YEAR REPORT_MONTH  REPORT_DAY  REPORT_DOY  REPORT_DOW  REPORT_HOUR  \
0         2014      January           1           1  Wednesday             3
1         2014      January           1           1  Wednesday             1
2         2014      January           1           1  Wednesday             6
3         2014      January           1           1  Wednesday             7
4         2014      January           1           1  Wednesday             2

   ...              OFFENCE     MCI_CATEGORY  HOOD_158  \
0  ...              Assault          Assault       092
1  ...                  B&E  Break and Enter       070
2  ...  Robbery With Weapon          Robbery       078
3  ...                  B&E  Break and Enter       158
4  ...                  B&E  Break and Enter       081

             NEIGHBOURHOOD_158 HOOD_140                NEIGHBOURHOOD_140  \
0  Corso Italia-Davenport (92)      092      Corso Italia-Davenport (92)
1         South Riverdale (70)      070             South Riverdale (70)
2    Kensington-Chinatown (78)      078        Kensington-Chinatown (78)
3              Islington (158)      014  Islington-City Centre West (14)
4       Trinity-Bellwoods (81)      081           Trinity-Bellwoods (81)

  LONG_WGS84  LAT_WGS84             x             y
0 -79.455770  43.677775 -8.844976e+06  5.415712e+06
1 -79.341683  43.665011 -8.832276e+06  5.413747e+06
2 -79.401983  43.647598 -8.838988e+06  5.411068e+06
3 -79.554194  43.641775 -8.855932e+06  5.410172e+06
4 -79.412798  43.650928 -8.840192e+06  5.411580e+06

[5 rows x 31 columns]

In [12]:
# Check for duplicates in both datasets
duplicate_homicide_rows = homicide_data.duplicated().sum()
duplicate_non_homicide_rows = non_homicide_data.duplicated().sum()

print(f"Duplicate rows in Homicide Data: {duplicate_homicide_rows}")
print(f"Duplicate rows in Non-Homicide Data: {duplicate_non_homicide_rows}")

# Verify date parts for homicide_data
homicide_data['year_check'] = homicide_data['OCC_DATE'].dt.year == homicide_data['OCC_YEAR']
homicide_data['month_check'] = homicide_data['OCC_DATE'].dt.month_name() == homicide_data['OCC_MONTH']
homicide_data['day_check'] = homicide_data['OCC_DATE'].dt.day == homicide_data['OCC_DAY']

# Check if any mismatches are found
homicide_date_mismatches = homicide_data[~(homicide_data['year_check'] & homicide_data['month_check'] & homicide_data['day_check'])]
print(f"Homicide Date Mismatches: {len(homicide_date_mismatches)}")

# Verify date parts for non_homicide_data similarly
non_homicide_data['year_check'] = non_homicide_data['OCC_DATE'].dt.year == non_homicide_data['OCC_YEAR']
non_homicide_data['month_check'] = non_homicide_data['OCC_DATE'].dt.month_name() == non_homicide_data['OCC_MONTH']
non_homicide_data['day_check'] = non_homicide_data['OCC_DATE'].dt.day == non_homicide_data['OCC_DAY']

# Check if any mismatches are found
non_homicide_date_mismatches = non_homicide_data[~(non_homicide_data['year_check'] & non_homicide_data['month_check'] & non_homicide_data['day_check'])]
print(f"Non-Homicide Date Mismatches: {len(non_homicide_date_mismatches)}")

Duplicate rows in Homicide Data: 0
Duplicate rows in Non-Homicide Data: 0
Homicide Date Mismatches: 0
Non-Homicide Date Mismatches: 0

In [13]:
# Drop unnecessary columns
non_homicide_data = non_homicide_data.drop(columns=['year_check', 'month_check', 'day_check'])
homicide_data = homicide_data.drop(columns=['year_check', 'month_check', 'day_check'])


# Convert some of the float64 columns to int64
non_homicide_data['OCC_YEAR'] = non_homicide_data['OCC_YEAR'].astype('int64')
non_homicide_data['OCC_DAY'] = non_homicide_data['OCC_DAY'].astype('int64')
non_homicide_data['OCC_DOY'] = non_homicide_data['OCC_DOY'].astype('int64')
homicide_data['OCC_YEAR'] = homicide_data['OCC_YEAR'].astype('int64')
homicide_data['OCC_DAY'] = homicide_data['OCC_DAY'].astype('int64')
homicide_data['OCC_DOY'] = homicide_data['OCC_DOY'].astype('int64')

In [14]:
# Remove rows where longitude or latitude are zero in the homicide dataset
homicide_data = homicide_data[(homicide_data['LONG_WGS84'] != 0) & (homicide_data['LAT_WGS84'] != 0)]

# Remove rows where longitude or latitude are zero in the non-homicide dataset
non_homicide_data = non_homicide_data[(non_homicide_data['LONG_WGS84'] != 0) & (non_homicide_data['LAT_WGS84'] != 0)]

# Display the shape of the updated datasets
print("Homicide Data - Updated Shape:", homicide_data.shape)
print("Non-Homicide Data - Updated Shape:", non_homicide_data.shape)

Homicide Data - Updated Shape: (1440, 18)
Non-Homicide Data - Updated Shape: (390636, 31)

In [15]:
# Check for NSA values in the specified columns for both datasets
nsa_counts_homicide = {
    'HOOD_158': (homicide_data['HOOD_158'] == 'NSA').sum(),
    'NEIGHBOURHOOD_158': (homicide_data['NEIGHBOURHOOD_158'] == 'NSA').sum(),
    'HOOD_140': (homicide_data['HOOD_140'] == 'NSA').sum(),
    'NEIGHBOURHOOD_140': (homicide_data['NEIGHBOURHOOD_140'] == 'NSA').sum(),
}

nsa_counts_non_homicide = {
    'HOOD_158': (non_homicide_data['HOOD_158'] == 'NSA').sum(),
    'NEIGHBOURHOOD_158': (non_homicide_data['NEIGHBOURHOOD_158'] == 'NSA').sum(),
    'HOOD_140': (non_homicide_data['HOOD_140'] == 'NSA').sum(),
    'NEIGHBOURHOOD_140': (non_homicide_data['NEIGHBOURHOOD_140'] == 'NSA').sum(),
}

# Print the counts of NSA values for both datasets
print("NSA Counts in Homicide Data:")
for column, count in nsa_counts_homicide.items():
    print(f"{column}: {count}")

print("\nNSA Counts in Non-Homicide Data:")
for column, count in nsa_counts_non_homicide.items():
    print(f"{column}: {count}")

NSA Counts in Homicide Data:
HOOD_158: 3
NEIGHBOURHOOD_158: 3
HOOD_140: 3
NEIGHBOURHOOD_140: 3

NSA Counts in Non-Homicide Data:
HOOD_158: 304
NEIGHBOURHOOD_158: 304
HOOD_140: 304
NEIGHBOURHOOD_140: 304

In [16]:
# Remove rows with NSA in 'NEIGHBOURHOOD_158' for both datasets
homicide_data = homicide_data[homicide_data['NEIGHBOURHOOD_158'] != 'NSA']
non_homicide_data = non_homicide_data[non_homicide_data['NEIGHBOURHOOD_158'] != 'NSA']

# Check the updated shapes of the DataFrames
print("Homicide Data - Updated Shape:", homicide_data.shape)
print("Non-Homicide Data - Updated Shape:", non_homicide_data.shape)

Homicide Data - Updated Shape: (1437, 18)
Non-Homicide Data - Updated Shape: (390332, 31)

In [21]:
# Verify homicide data after cleaning, let’s display basic information
print("Homicide Data Info After Cleaning:")
print(homicide_data.info())
print("\nSample of Homicide Data:")
print(homicide_data.head())

# Verify non-homicide data after cleaning, let’s display basic information
print("Non-Homicide Data Info After Cleaning:")
print(non_homicide_data.info())
print("\nSample of Non-Homicide Data:")
print(non_homicide_data.head())

Homicide Data Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 1437 entries, 0 to 1439
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   OBJECTID           1437 non-null   int64
 1   EVENT_UNIQUE_ID    1437 non-null   object
 2   OCC_DATE           1437 non-null   datetime64[ns]
 3   OCC_YEAR           1437 non-null   int64
 4   OCC_MONTH          1437 non-null   object
 5   OCC_DAY            1437 non-null   int64
 6   OCC_DOW            1437 non-null   object
 7   OCC_DOY            1437 non-null   int64
 8   DIVISION           1437 non-null   object
 9   HOMICIDE_TYPE      1437 non-null   object
 10  HOOD_158           1437 non-null   object
 11  NEIGHBOURHOOD_158  1437 non-null   object
 12  HOOD_140           1437 non-null   object
 13  NEIGHBOURHOOD_140  1437 non-null   object
 14  LONG_WGS84         1437 non-null   float64
 15  LAT_WGS84          1437 non-null   float64
 16  x                  1437 non-null   float64
 17  y                  1437 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(9)
memory usage: 213.3+ KB
None

Sample of Homicide Data:
   OBJECTID EVENT_UNIQUE_ID            OCC_DATE  OCC_YEAR OCC_MONTH  OCC_DAY  \
0         1   GO-2004111878 2004-01-03 05:00:00      2004   January        3
1         2   GO-2004125755 2004-01-08 05:00:00      2004   January        8
2         3   GO-2004136086 2004-01-08 05:00:00      2004   January        8
3         4   GO-2004148623 2004-01-25 05:00:00      2004   January       25
4         5   GO-2004148619 2004-01-25 05:00:00      2004   January       25

    OCC_DOW  OCC_DOY DIVISION HOMICIDE_TYPE HOOD_158  \
0  Saturday        3      D53         Other      098
1  Thursday        8      D42      Shooting      142
2  Thursday        8      D42      Shooting      146
3    Sunday       25      D13      Shooting      171
4    Sunday       25      D42      Shooting      144

                NEIGHBOURHOOD_158 HOOD_140  \
0        Rosedale-Moore Park (98)      098
1              Woburn North (142)      137
2              Malvern East (146)      132
3  Junction-Wallace Emerson (171)      093
4       Morningside Heights (144)      131

                          NEIGHBOURHOOD_140  LONG_WGS84  LAT_WGS84  \
0                  Rosedale-Moore Park (98)  -79.392828  43.685026
1                              Woburn (137)  -79.233852  43.781782
2                             Malvern (132)  -79.205574  43.810544
3  Dovercourt-Wallace Emerson-Junction (93)  -79.434387  43.670467
4                               Rouge (131)  -79.204958  43.822997

              x             y
0 -8.837969e+06  5.416828e+06
1 -8.820272e+06  5.431734e+06
2 -8.817124e+06  5.436170e+06
3 -8.842596e+06  5.414587e+06
4 -8.817056e+06  5.438091e+06
Non-Homicide Data Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 390332 entries, 0 to 396734
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   OBJECTID           390332 non-null  int64
 1   EVENT_UNIQUE_ID    390332 non-null  object
 2   REPORT_DATE        390332 non-null  datetime64[ns]
 3   OCC_DATE           390332 non-null  datetime64[ns]
 4   REPORT_YEAR        390332 non-null  int64
 5   REPORT_MONTH       390332 non-null  object
 6   REPORT_DAY         390332 non-null  int64
 7   REPORT_DOY         390332 non-null  int64
 8   REPORT_DOW         390332 non-null  object
 9   REPORT_HOUR        390332 non-null  int64
 10  OCC_YEAR           390332 non-null  int64
 11  OCC_MONTH          390332 non-null  object
 12  OCC_DAY            390332 non-null  int64
 13  OCC_DOY            390332 non-null  int64
 14  OCC_DOW            390332 non-null  object
 15  OCC_HOUR           390332 non-null  int64
 16  DIVISION           390332 non-null  object
 17  LOCATION_TYPE      390332 non-null  object
 18  PREMISES_TYPE      390332 non-null  object
 19  UCR_CODE           390332 non-null  int64
 20  UCR_EXT            390332 non-null  int64
 21  OFFENCE            390332 non-null  object
 22  MCI_CATEGORY       390332 non-null  object
 23  HOOD_158           390332 non-null  object
 24  NEIGHBOURHOOD_158  390332 non-null  object
 25  HOOD_140           390332 non-null  object
 26  NEIGHBOURHOOD_140  390332 non-null  object
 27  LONG_WGS84         390332 non-null  float64
 28  LAT_WGS84          390332 non-null  float64
 29  x                  390332 non-null  float64
 30  y                  390332 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(11), object(14)
memory usage: 95.3+ MB
None

Sample of Non-Homicide Data:
   OBJECTID EVENT_UNIQUE_ID         REPORT_DATE            OCC_DATE  \
0         1  GO-20141260715 2014-01-01 05:00:00 2014-01-01 05:00:00
1         2  GO-20141260079 2014-01-01 05:00:00 2013-12-31 05:00:00
2         3  GO-20141260912 2014-01-01 05:00:00 2014-01-01 05:00:00
3         4  GO-20141260322 2014-01-01 05:00:00 2013-12-31 05:00:00
4         5  GO-20141260521 2014-01-01 05:00:00 2014-01-01 05:00:00

   REPORT_YEAR REPORT_MONTH  REPORT_DAY  REPORT_DOY  REPORT_DOW  REPORT_HOUR  \
0         2014      January           1           1  Wednesday             3
1         2014      January           1           1  Wednesday             1
2         2014      January           1           1  Wednesday             6
3         2014      January           1           1  Wednesday             7
4         2014      January           1           1  Wednesday             2

   ...              OFFENCE     MCI_CATEGORY  HOOD_158  \
0  ...              Assault          Assault       092
1  ...                  B&E  Break and Enter       070
2  ...  Robbery With Weapon          Robbery       078
3  ...                  B&E  Break and Enter       158
4  ...                  B&E  Break and Enter       081

             NEIGHBOURHOOD_158 HOOD_140                NEIGHBOURHOOD_140  \
0  Corso Italia-Davenport (92)      092      Corso Italia-Davenport (92)
1         South Riverdale (70)      070             South Riverdale (70)
2    Kensington-Chinatown (78)      078        Kensington-Chinatown (78)
3              Islington (158)      014  Islington-City Centre West (14)
4       Trinity-Bellwoods (81)      081           Trinity-Bellwoods (81)

  LONG_WGS84  LAT_WGS84             x             y
0 -79.455770  43.677775 -8.844976e+06  5.415712e+06
1 -79.341683  43.665011 -8.832276e+06  5.413747e+06
2 -79.401983  43.647598 -8.838988e+06  5.411068e+06
3 -79.554194  43.641775 -8.855932e+06  5.410172e+06
4 -79.412798  43.650928 -8.840192e+06  5.411580e+06

[5 rows x 31 columns]